<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kTodayTips</key>
	<dict>
		<key>kLabelName</key>
		<string>Tips</string>
		<key>kLabelIsRetractable</key>
		<false/>
		<key>kLabelIsParent</key>
		<true/>
		<key>kLabelBgImage</key>
		<string>Calendar</string>
	</dict>
	<key>kTimeline</key>
	<dict>
		<key>kLabelName</key>
		<string>时光隧道</string>
		<key>kLabelIsRetractable</key>
		<false/>
		<key>kLabelIsParent</key>
		<true/>
		<key>kLabelBgImage</key>
		<string>Clock</string>
	</dict>
	<key>kQuestionAndAnswer</key>
	<dict>
		<key>kLabelName</key>
		<string>QuestionAndAnswer</string>
		<key>kLabelIsRetractable</key>
		<false/>
		<key>kLabelIsParent</key>
		<true/>
		<key>kLabelBgImage</key>
		<string>Help</string>
	</dict>
	<key>kSearchInfo</key>
	<dict>
		<key>kLabelName</key>
		<string>知识搜索</string>
		<key>kLabelIsRetractable</key>
		<false/>
		<key>kLabelIsParent</key>
		<true/>
		<key>kLabelBgImage</key>
		<string>Search</string>
	</dict>
	<key>kBookmarks</key>
	<dict>
		<key>kLabelName</key>
		<string>Favorit</string>
		<key>kLabelIsRetractable</key>
		<false/>
		<key>kLabelIsParent</key>
		<true/>
		<key>kLabelBgImage</key>
		<string>Bookmarks</string>
	</dict>
	<key>kSettings</key>
	<dict>
		<key>kLabelName</key>
		<string>Settings</string>
		<key>kLabelIsRetractable</key>
		<false/>
		<key>kLabelIsParent</key>
		<true/>
		<key>kLabelBgImage</key>
		<string>Settings</string>
	</dict>
	<key>kSystemDefaultLabels</key>
	<array>
		<string>kTodayTips</string>
		<string>kQuestionAndAnswer</string>
		<string>kBookmarks</string>
		<string>kSettings</string>
	</array>
</dict>
</plist>
